{% extends 'base.html.twig' %}
{% block body %}
<div class="mention">
<h1>
MENTIONS LÉGALES
</h1>

<p>
Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site AEGIS Protection l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
</p>
<h2>
Edition du site 
</h2>
<p>
Le présent site, accessible à l’URL http://www.aegis-protection.fr/ (le « Site »), est édité par :


M. Grandjean, résidant au 24 rue de Passy, 75016, PARIS.
</p>


<h3>
Hébergement
</h3>

<p>
Le Site est hébergé par la société OVH SAS, situé 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique ou email : 1007).
</p>
<h4>
Directeur de publication 
</h4>

<p>
Le Directeur de la publication du Site est M. Grandjean.
</p>
<h5>
Nous contacter 
</h5>

<p>
Par téléphone : +33666447024

Par email : contact@aegis-protection.fr
</p>
<h6>
Données personnelles
</h6>
<p>
Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).
</p>
</div>
{% endblock %} 